.acao{
    width: 170px;
    background: black;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 12px 0;
    float: left;
    text-align: center;
    margin-top: 20px;
    border: none;
    &:hover{
        background: $textColor;
        cursor: pointer;
    }
}