form{
    input, label, select{
        display: block;
    }
    label{
        color: black;
        font-size: 20px;
        margin: 10px auto;
    }
    input{
        width: 100%;
        margin-bottom: 10px;
        border: 1px solid $bg-1;
        border-radius: 4px;
        padding: 10px;
        font-size: 14px;
    }
    &.test{
        input[type=checkbox]{
            width: 20px;
            height: 20px;
        }
        img{
            &.delete, &.add{
                height: 30px;
                margin: 0 auto;
                cursor: pointer;
            }
            &.add{
                padding: 0 20px;
                margin-top: -30px;
            }
        }
        .question{
            padding: 20px;
            background-color: #ececec;
            border-radius: 30px;
            margin-bottom: 20px;
            position: relative;
            .deletequestion{
                position: absolute;
                top: 15px;
                right: 20px;
                cursor: pointer;
            }
        }
        .answer{
            padding: 20px;
            .item{
                margin: 10px 0;
            }
        }
    }
    &.dotest{
        fieldset{
            display: none;
            &.active{
                display: block;
            }
        }
        label{
            color: black;
            font-size: 14px;
            margin: 10px 0;
            font: "Trebuchet", tahoma, arial;
        }
        select{
            border-radius: 2px;
            padding: 5px 10px;
            border: 1px solid #b2b2b2;
            width: 100%;
        }
    }
}
.acao.disabled{
    display: none;
}
.progress{
	margin: 20px;
    padding: 0;
	overflow: hidden;
	counter-reset: step;
    display: flex;
    li{
        list-style-type: none;
        color: black;
        font-weight: bold;
        font-size: 15px;
        width: 100%;
        position: relative;
        &:after{
            content: counter(step);
            counter-increment: step;
            width: 20px;
            display: block;
            line-height: 20px;
            background: white;
            color: #333;
            border-radius: 10px;
            text-align: center;
            padding-bottom: 2px;
            margin: auto;
        }
        &:not(:first-child)::before{
            content: '';
            width: 100%;
            background: white;
            height: 2px;
            position: absolute;
            top: 9px;
            left: -50%;
            z-index: 0;
        }
        &.ativo:after, &.ativo:before{
            background:black;
            color: white;
        }
    } 
}
#newquestion{
    cursor: pointer;
}
