h2, h3, h4{
    margin: 10px auto;
    color: $textColor;
    font-family: "Trebuchet", tahoma, arial, sans-serif;
    font-weight: bold;
}
.err-resp{
    color: white;
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}